html, body {
    font-family: 'Fira Sans', sans-serif;
    color: #F4F2F3;
    background-color: #1E1D1A;
}

.light-text {
    color: #F4F2F3;
}

.dark-text {
    color: #1E1D1A;
}

.accent-text {
    color: #467220;
}

.red-text {
    color: red;
}

.bg-accent {
    background-color: #365918;
}

.bg-accent-lighter {
    background-color: #467220;
}

.misc {
    background-color: #F3EFF5;
}

.bg-main {
    background-color: #1E1D1A;
}

.bg-lighter {
    background-color: #2B2924;
}

a.light-text:link,a.light-text:visited,a.light-text:hover,a.light-text:active {
    color: #F4F2F3;
}

a.accent-text:link,a.accent-text:visited,a.accent-text:hover,a.accent-text:active {
    color: #467220;
}

button {
    box-shadow: none !important;
}

button.light-text:hover {
    color: #F4F2F3;
}

.card {
    border-top:1px solid rgba(0,0,0,.125);
    background-color: #2B2924;
    color: #F4F2F3;
    box-shadow: none !important;
}

.card-header {
    border-top:1px solid rgba(0,0,0,.125);
    border-left:1px solid rgba(0,0,0,.125);
    border-right:1px solid rgba(0,0,0,.125);
    background-color: #467220;
    color: #F4F2F3;
}

.errors {
    color: red;
}

.green-fa {
    color: #72B01D;
}

.red-fa {
    color: red;
}

.sidenav{
    list-style-type: none;
    text-align: center;
    padding: 0;
}

.sidenav .nav-link {
    color: #F4F2F3;
    font-size: larger;
    padding: 0.5em 0;
}

.no-padding {
    padding: 0;
    margin: 0;
}

.wrap {
    position: relative;
    min-height: 100vh;
}

.footer-abs {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

main {
    padding-bottom: 147px;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    color: #F4F2F3;
    background-color: #1E1D1A;
}

.list-group-item {
    background-color: #1E1D1A;
}

.team-colour {
    height: 25px;
    width: 60px;
}

.pagination .page-item.active .page-link {
    background-color: #365918;
}

.pagination .page-item .page-link {
    color: #F4F2F3;
}

.pagination .page-item .page-link:hover,
.pagination .page-item.active .page-link:hover {
    background-color: #467220;
}

#searchBar {
    border-bottom: 1px solid #365918;
    color: #F4F2F3;
}

#searchBar:focus {
    border-bottom: 1px solid #467220;
    color: #F4F2F3;
}

#searchBar::placeholder {
    color: #F4F2F3;
}

.nav-tabs .nav-link {
    color: #F4F2F3;
}

.nav-tabs .nav-link.active {
    background-color: #365918;
    color: #F4F2F3;
    border: 1px solid #467220;
}

.nav-tabs {
    border-bottom: 1px solid #467220;
}

.results-table {
    border-collapse: separate;
    border-spacing: 1px;
    cursor: default;
    background-color: #2B2924;
}

.results-table tbody tr {
    background-color: #2B2924;
}

.results-table tbody tr:hover {
    background-color: #1E1D1A;
}

.results-table tbody tr th {
    background-color: #2B2924;
}

.results-teams-table {
    cursor: default;
}

.results-teams-table tbody tr:hover {
    background-color: #1E1D1A;
}

.results-teams-table tbody tr th {
    background-color: #2B2924;
}

.results-first {
    color: darkgoldenrod;
    border: 2px solid goldenrod!important;
}

.results-second {
    color: silver;
    border: 2px solid silver!important;
}

.results-third {
    color: saddlebrown;
    border: 2px solid saddlebrown!important;
}

.results-dnf {
    color: indianred;
}

.results-dns {
    color: dimgrey;
}

.results-tbr {
    color: cornflowerblue;
}

.bonuspoints {
    width: 6.7rem;
}

.bonuspoints-edit {
    width: 3.5rem;
}

.bonuspoints-text, .bonuspoints-input {
    height: 2rem;
}

#to-top-button {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: red;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
}

#to-top-button:hover {
    background-color: red;
}

hr {
    border: 1px white solid;
}

.guide-card h5 {
    color: #72B01D;
}

.google-link {
    font-size: xx-large;
}

.sticky-col-driver, .sticky-col-pts {
    position: sticky;
    position: -webkit-sticky;
    background-color: #2B2924;
}

.sticky-col-driver {
    left: 0;
}

.sticky-col-pts {
    right: 0;
}

.modal-dialog.modal-notify .modal-body {
    padding-left: 3rem;
    padding-right: 3rem;
}

.btn-bigger-font {
    font-size: large!important;
}

#league-description img {
    max-width: 100% !important;
}

.admin-nav {
    padding-bottom: 0.19em!important;
    padding-top: 0.19em!important;
    font-size: medium!important;
}

.admin-nav:hover, .admin-nav.active {
    color: #72B01D;
}

.admin-nav-text {
    margin-top: -0.25em;
}

.table td {
    vertical-align: middle;
}

.results-teams-table, .results-teams-table td {
    background-color: #2B2924;
}

@media (max-width: 768px) {
    .sidenav {
        display: flex;
        justify-content: space-evenly;
        padding-top: 0.8em;
    }
}

@media (max-width: 1476px) {
    .admin-nav-text {
        display: none;
    }

    .admin-nav {
        padding: 0.5em 0!important;
        font-size: large!important;
    }
}
